.container {
  padding: 20px;
}

.btn {
  background-color: #FFFFFF;
  padding: 5px;
}

.active {
  color: #FFFFFF;
  background-color: #000000;
}

.btn:nth-child(n + 1) {
  margin-right: 5px;
}

.projectsBox {
  column-count: 3;
}

.project {
  width: 100%;
  margin-top: 15px;
}
